* {
  background-color: rgb(70, 70, 70);
}

h1 {
  color: rgb(255, 136, 0);
  text-align: center;
}

h2 {
  color: rgb(202, 108, 1);
}

input {
  background-color: white;
}

button {
  background-color: rgb(3, 184, 3);
}